<p id="notice"><%= notice %></p>

<% if @songs.empty? %>
  <p>Hey <%= current_user.username %> you don't have any songs yet.</p>
<% else %>
  <p><%= current_user.username %> you have <%= pluralize(@songs.count, 'song') %>.  Do you want to add more?</p>
<% end %>

<p>You should check out these...</p>
<% @ten_songs_this_week.each do |song| %>
  <%= song.title %><br />
<% end %>

<%= link_to "Create Song List", new_song_path %>
