<p>Here is the stuff from the NPR site</p>
<%= link_to "Go back home", songs_path %>

<p>Here is <%= @song %> </p>
<p>Here is <%= @title %> </p>

<!-- <p>Add to the database</p> -->

<%= button_to "Add to the database", action: "create" %>


<!-- <h1>New Song</h1>

<%= render 'form' %>

<%= link_to 'Back', songs_path %>


 

